<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		">


	<!-- 任务列表 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="overdueMessageDelTaskTrigger" />
			</list>
		</property>
		<property name="autoStartup" value="true" />
	</bean>
	
	
	<!-- 触发器 -->
	<bean id="overdueMessageDelTaskTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="overdueMessageDelTaskDetail" />
		<property name="cronExpression" value="0 0 1 * * ?" />
	</bean>


	<!-- 任务细节 -->
	<bean id="overdueMessageDelTaskDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="overdueMessageDelTask" />
		<property name="targetMethod" value="runTask" />
		<property name="concurrent" value="false" />
		<!-- 是否允许任务并发执行。当值为false时，表示必须等到前一个线程处理完毕后才再启一个新的线程 -->
	</bean>


	<!-- 定时任务执行对象 -->
	<bean id="overdueMessageDelTask" class="com.lanxi.lanxiproject.task.OverdueMessageDelTask"></bean>

</beans>